body{
  background: linear-gradient(rgb(132, 232, 228), #e0b3f2);
  font-family:helvetica;
  font-size:x-large;
}

ul{
  list-style: none;
}

ol{
  list-style: none;
}

h1{
  text-align:left
}

img{
  width:40%;
  height:auto;
  text-align: center;
}

/* .navbar{
  position:fixed;
  top:0;
  width:100%;
  background:linear-gradient(#e0b3f2, rgb(171, 221, 219));
}

.navbar a{
  float:left;
  display:block;
  padding:20px;
  color:#584460;
  font-size:25px;
  font-weight: 900;
} */

.main{
  margin-top:30px;
  padding:50px;
  color:rgb(44, 47, 63);
}

.toptitle{
  text-align: center;
}

#name{
  text-align:center;
  font-size:80px;
}