body{
  background-color:rgb(171, 221, 219);
  font-family:helvetica;
  font-size:large;
}

ul{
  list-style: none;
}

h1{
  text-align:left
}

img{
  width:40%;
  height:auto;
  text-align: center;
}

.navbar{
  position:fixed;
  top:0;
  width:100%;
  background:linear-gradient(pink, rgb(171, 221, 219));
}

.navbar a{
  float:left;
  display:block;
  padding:20px;
  color:rgb(75, 45, 45);
  font-size:25px;
  font-weight: 900;
}

.main{
  margin-top:30px;
  padding:50px;
  color:rgb(44, 47, 63);
}

#name{
  text-align: left;
  font-size:80px;
}

.toptitle{
  float:center;
}